<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="bg-black">
  <div class="w-full bg-black overflow-hidden">
    <div class="max-w-screen-lg mx-auto h-11 flex justify-between items-center max-sm:pt-3 max-sm:px-7">
      <h2 class="text-sky-300 text-xl max-sm:text-2xl">Netfilx</h2>
      <a class="text-sky-300 text-lg " href="/sign">Sign in</a>
      </div>
    </div>
    <div class="flex h-screen justify-center items-center flex max-sm:px-5">
      <div class="text-white text-3xl max-sm:text-5xl">Unlimited movies, TV shows and more</div>
    </div>
  </div>
  <div class="max-w-screen-lg mx-auto flex flex-col h-screen gap-2 max-sm:px-9 max-sm:gap-7">
    <div class="flex gap-7 max-sm:flex-wrap">
      <div class="w-32 h-48 mb-8 rounded-md relative overflow-hidden max-sm:w-36 max-sm:h-52">
            <img class="w-full h-full object-cover z-[9]" src="https://i.pinimg.com/236x/e6/db/a4/e6dba44e58e1afd2cf901418a930e3c9.jpg" alt="">
      </div>
      <div class="w-32 h-48 mb-8 rounded-md relative overflow-hidden max-sm:w-36 max-sm:h-52">
            <img class="w-full h-full object-cover z-[9]" src="https://i.pinimg.com/236x/87/b8/5e/87b85e0b0cc7976b732f06aadc09808b.jpg" alt="">
      </div>
      <div class="w-32 h-48 mb-8 rounded-md relative overflow-hidden max-sm:w-36 max-sm:h-52">
            <img class="w-full h-full object-cover z-[9]" src="https://i.pinimg.com/236x/88/d0/52/88d0525e419997c060ca81728b6b3019.jpg" alt="">
      </div>
      <div class="w-32 h-48 mb-8 rounded-md relative overflow-hidden max-sm:w-36 max-sm:h-52">
            <img class="w-full h-full object-cover z-[9]" src="https://i.pinimg.com/236x/10/fa/d1/10fad174c1bd98785f0e3e17d88d215a.jpg" alt="">
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-white text-lg">Watch best tv shows and movies</h2>
        <div class="w-62 rounded-md relative overflow-hidden max-sm:w-full max-sm:h-52 ">
          <img class="w-full h-full object-cover" src="https://i.pinimg.com/236x/70/99/3e/70993ec7b41dac90f332a826205d3021.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="flex gap-5 max-sm:flex-col">
      <div class="w-1/3 h-fit bg-red-400 overflow-hiiden rounded-lg max-sm:w-full">
        <video class="w-full h-full" autoplay loop muted src="/images/imax.mp4"></video>
      </div>
      <div class="w-2/3 flex gap-5 max-sm:flex-col">
        <div class="w-1/5 h-44 bg-red-400 rounded-md relative overflow-hidden max-sm:hidden">
          <img class="w-full h-full object-cover" src="https://i.pinimg.com/474x/5d/0e/ea/5d0eea0f99f19fa474b90374f0347162.jpg" alt="">
        </div>
        <div class="w-1/3 h-fit bg-red-400 overflow-hiiden rounded-lg max-sm:w-full">
          <video class="w-full h-full" autoplay loop muted src="/images/tom.mp4"></video>
        </div>
        <div class="w-1/5 h-44 bg-red-400 rounded-md relative overflow-hidden max-sm:hidden">
          <img class="w-full h-full object-cover" src="https://i.pinimg.com/474x/4c/75/51/4c75519d5746fa6647ae6d3a5e622068.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="w-full h-fit">
      <h2 class="text-white text-lg px-5 max-sm:text-sm">Download your shows to watch offline - Save your favourites easily and always have something to watch.</h2>
    </div>
  </div>
  <div class="w-full bg-black">
    <div class="parent relative top-0 left-0 w-full h-[100vh]">
      <div class="max-w-screen-lg mx-auto sticky cnav top-0 left-0 h-screen">
        <video autoplay controls loop class="w-full" src="/TheStory_ofNetflix.mp4"></video>
      </div>
    </div>
  </div>
  <div class="max-w-screen-lg mx-auto flex flex-col gap-2 max-sm:px-9 ">
    <div class="flex gap-7 max-sm:flex-wrap">
      <div class="w-32 h-full rounded-md relative overflow-hidden max-sm:w-36 max-sm:h-52">
        <video class="w-full h-full" autoplay loop muted src="/images/hello.mp4"></video>
      </div>
      <div class="w-32 h-56 rounded-md relative overflow-hidden max-sm:w-36 max-sm:h-52">
            <img class="w-full h-full object-cover z-[9]" src="https://i.pinimg.com/236x/cd/ac/25/cdac25907202528f6cc79c22aaf4fd44.jpg" alt="">
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-white text-lg">Kids Consloe</h2>
        <div class="w-62 rounded-md relative overflow-hidden max-sm:w-36 max-sm:h-52">
          <img class="w-full h-full object-cover" src="https://i.pinimg.com/236x/81/05/cd/8105cdb70d97cf6ac0b2d499e0ffbff4.jpg" alt="">
        </div>
      </div>
      <div class="w-32 h-56 rounded-md relative overflow-hidden max-sm:w-36 max-sm:h-52">
        <img class="w-full h-full object-cover z-[9]" src="https://i.pinimg.com/236x/98/9b/85/989b85b666357fcd4becc742c667b65b.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="w-full bg-black py-5 mt-[30vh]">
    <div class="flex justify-center items-center flex-col gap-4">
      <h1 class="text-sky-300 text-5xl">Netfilx</h1>
      <h3 class="text-white text-6xl max-sm:text-lg">Watch here and on the big screen.</h3>
    </div>
    <div class="max-sm:hidden">
      <h2 class="text-center text-white py-6">Quenstions? Answers.</h2>
      <div class="max-w-screen-md mx-auto h-16 p-3 relative ">
        <h2 class="text-white text-lg">What is Netfilx?</h2>
        <h3
          class="absolute text-sky-200 w-1/2 right-5 top-1 p-3 h-fit opacity-0 hover:opacity-100 transition-opacity delay-75">
          Netfix is streming serivce. It features exclusive movies and shows
          from some of the industry's top talent, with new premieres arriving
          each month. Browse all of the available content on Netfilx
        </h3>
      </div>
      <div class="max-w-screen-md mx-auto h-16 p-3 relative">
        <h2 class="text-white text-lg">How much does Netfilx cost?</h2>
        <h3
          class="absolute text-sky-200 w-1/2 right-5 top-1 p-3 h-fit opacity-0 hover:opacity-100 transition-opacity delay-75">
          Pricing might vary depending on the offer you choose.(1) A monthly
          subscription is just $7.99 per month after a seven-day trial.
        </h3>
      </div>
      <div class="max-w-screen-md mx-auto h-16 p-3 relative">
        <h2 class="text-white text-lg">Can I get Netfilx for free?</h2>
        <h3
          class="absolute text-sky-200 w-1/2 right-5 top-1 p-3 h-fit opacity-0 hover:opacity-100 transition-opacity delay-75">
          There are a few ways to try Netfilx for free. First, try 7 days of
          Netfilx for free starting a trial in Netfilx Web Application.
        </h3>
      </div>
      <div class="max-w-screen-md mx-auto h-16 p-3 relative">
        <h2 class="text-white text-lg">Where can I watch Netfilx?</h2>
        <h3
          class="absolute text-sky-200 w-1/2 right-5 top-1 p-3 h-fit opacity-0 hover:opacity-100 transition-opacity delay-75">
          Netfix is an streaming subscription available in the Netfilx
          Application
        </h3>
      </div>
      <div class="max-w-screen-md mx-auto h-16 p-3 relative">
        <h2 class="text-white text-lg">What can I watch on Netfilx?</h2>
        <h3
          class="absolute text-sky-200 w-1/2 right-5 top-1 p-3 h-fit opacity-0 hover:opacity-100 transition-opacity delay-75">
          Netflix has an extensive library of feature films, documentaries, TV
          shows, anime, award-winning Netflix originals, and more. Watch as
          much as you want, anytime you want.
        </h3>
      </div>
      <div class="max-w-screen-md mx-auto h-16 p-3 relative">
        <h2 class="text-white text-lg">
          Can I share Netfilx with my family?
        </h2>
        <h3
          class="absolute text-sky-200 w-1/2 right-5 top-1 p-3 h-fit opacity-0 hover:opacity-100 transition-opacity delay-75">
          Yes. Netfilx lets you share your subscription with up to five family
          menbers.
        </h3>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script> 

</body>
</html>